@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(246, 247, 251);
}

:root {
  --primary: #3092fa;
  --primary-bg: rgb(234, 242, 255);
  --input-border-radius: 12px;
  --shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  --error: #ff4d49;
  --button-padding: 5px 10px;
  --button-border-radius: 4px;
  --main-bg: #f7f7f9;
  --icon-bg: #bdbdbd;
  --input-border: #d1d5db;
  --primary-transparent: rgba(2, 119, 189, 0.05);
  --hint: rgba(76, 78, 100, 0.6);
  --success: #72e128;
  --yellow: #ffb304;
  --primary-text-light: #4c4e64de;
  --light-gray: rgba(76, 78, 100, 0.12);
  --light-gray-text: rgba(76, 78, 100, 0.38);
  --title-text: #4b5563;
  --sub-title-text: #6b7280;
  --body-text: #000000;
  --deactivated-text: #9ca3af;
  --colored-text: #ffffff;
  --secondary: #26c6f9;
  --icon-color: #d1d5db;
  --deactivated-button: #e5e7eb;
  --sidebar: rgba(236, 236, 239, 1);
  --sidebar-color: #003f6d;
  --gray: #808080;
  --pink:#f064fc;
  --pink-bg:#f9c1fe;
  --transparent-pink:#fde9ff;
  --icon-bg:#acd3fd;
  --green-bg:#cff5b7;
  --green-text:#259f02;
  --hover-green:#b1fa84;
  --purple-bg:#e7defe;
  --purple-text:#967fd6;
  --hover-purple:#d6c5fd;
  --dark-text:#2f3e4e;
  --silver-bg:#e6ebef;
}

.MuiAutocomplete-listbox{
  max-height: 15rem !important;
  font-size: 14px !important;
}

.ps-submenu-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
	border-radius: 10px !important;
	background-color: #F5F5F5 !important;
}

#scrollBar::-webkit-scrollbar
{
	width: 12px !important;
	background-color: #F5F5F5 !important;
}

.ps-submenu-content::-webkit-scrollbar-thumb
{
	border-radius: 10px !important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
	background-color: #555 !important;
}